<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/table" method="post">
        <div >
            <label >First Name:</label>
            <input type="text" id="firstname" name="firstname">
        </div>
        <div >
            <label >Last Name:</label>
            <input type="text" id="lastname" name="lastname">
        </div>
        <div >
            <label >Domain:</label>
            <input type="text" id="domain" name="domain">
        </div>
        <div >
            <label >Location:</label>
            <input type="text" id="location" name="location">
        </div>
        <button type="submit">submit</button>
    </form> 